Module 3: Data Structures Assignments

Lesson 3.2: Tuples

Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

In [6]:
tuple1=(1,2,3,4,5,6,7,8,9,10)
print(tuple1)

(1, 2, 3, 4, 6, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements
Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
print(tuple1[0])
m=(len(tuple1)//2)
print(m)
print(tuple1[-1])

1
5
10

Assignment 3: Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [16]:
print(tuple1[0:3])
print(tuple1[-3:])
print(tuple1[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 6, 6)

Assignment 4: Nested Tuples
Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [21]:
tuple2=((1,2,3),(4,5,6),(7,8,9))
for i in tuple2:
  print(i)
print(tuple2[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

Assignment 5: Tuple Concatenation
Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [22]:
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods
Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [26]:
tuple1=(1,2,3,4321,2,24,32,324432,124,67,7,742,7)
print(tuple1.count(2))
print(tuple1.index(24))

2
5

Assignment 7: Unpacking Tuples
Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [27]:
tuple1=(324,235,325,32,32)
a,b,c,d,e=tuple1
print(a)
print(b)
print(c)
print(d)
print(e)

324
235
325
32
32

Assignment 8: Tuple Conversion
Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [29]:
list1=[324,235,325,32,32]
tuple1=tuple(list1)
print(tuple1)

(324, 235, 325, 32, 32)

Assignment 9: Tuple of Tuples
Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [30]:
tuple1=((1,2,3),(4,5,6),(7,8,9))
for i in tuple1:
  print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

Assignment 10: Tuple and List
Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [33]:
tuple1=(1,24,5,5,66,7,78,4)
list1=(list(tuple1))
list1.append(6)
tuple2=tuple(list1)
print(tuple1)
print(tuple2)

(1, 24, 5, 5, 66, 7, 78, 4)
(1, 24, 5, 5, 66, 7, 78, 4, 6)

Assignment 11: Tuple and String
Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [36]:
str1="nikhil"
tuple1=tuple(str1)
print(tuple1)
str2="".join(tuple1)
print(str2)

('n', 'i', 'k', 'h', 'i', 'l')
nikhil

Assignment 12: Tuple and Dictionary
Create a dictionary with tuple keys and integer values. Print the dictionary.

In [37]:
disct={(1,2,3):1,(4,5,6):2,(7,8,9):3}
print(disct)

{(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3}

Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.

In [40]:
tuple1=((1,2,3),(4,5,6),(7,8,9))
for i in tuple1:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [42]:
tuple1=(2,34,5242,525,23,2523,5235,565,63,2,34,23)
set1=set(tuple1)
print(set1)

{2, 34, 525, 5235, 565, 23, 5242, 2523, 63}

Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [50]:
def max(tuple1):
  max=tuple1[0]
  for i in tuple1:
    if i>max:
      max=i
  return max
def min(tuple1):
  min=tuple1[0]
  for i in tuple1:
    if i<min:
      min =i
  return min
def sum(tuple1):
  sum=0
  for i in tuple1:
    sum+=i
  return sum

tuple1=(34,323,3,3,43,4,4)
print(max(tuple1))
print(min(tuple1))
print(sum(tuple1))

323
3
414